name: CI/CD Pipeline

on:
  push:
    branches: [ "main" ]

jobs:
  build-and-deploy: ##a
    runs-on: ubuntu-latest

    steps:
      - name: Checkout do código
        uses: actions/checkout@v4

      - name: Login no Docker Hub
        run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

      - name: Build e Push da imagem Docker
        run: |
          IMAGE=${{ secrets.DOCKER_USERNAME }}/lucas-repositore
          TAG=$(echo $GITHUB_SHA | cut -c1-7)

          docker build -t $IMAGE:latest -t $IMAGE:$TAG .
          docker push $IMAGE:latest
          docker push $IMAGE:$TAG

      - name: Atualizar manifestos no repositório k8s-deploy
        env:
          GH_PAT: ${{ secrets.GH_PAT }}
          DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
        run: |
          git clone https://${GH_PAT}@github.com/Lucasbianchleite/k8s-deploy.git
          cd k8s-deploy

          TAG=$(echo $GITHUB_SHA | cut -c1-7)
          IMAGE="${DOCKER_USERNAME}/lucas-repositore:${TAG}"

          # Substitui a linha da imagem no deployment.yaml
          sed -i "s|image: .*|image: ${IMAGE}|" deployment.yaml

          git config user.name "github-actions"
          git config user.email "actions@github.com"
          git add deployment.yaml
          git commit -m "Atualiza imagem para ${IMAGE}"
          git push
